<form
  [formGroup]="form"
  class="custom-modal-container"
  (ngSubmit)="openRequest()"
>
  <div class="custom-modal-header">
    <span class="custom-modal-title">
      {{ (data ? "EDITAR" : "NUEVA") + " INSTITUCIóN" | uppercase }}
    </span>
    <mat-icon (click)="onNoClick()" class="custom-modal-close">close</mat-icon>
  </div>
  <div class="custom-modal-content row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="name">Nombre</mat-label>
        <input
          matInput
          placeholder="Nombre"
          formControlName="name"
          id="name"
          type="text"
        />
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched"
          >Debe tener al menos 2 letras</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="abbrv">Abreviatura</mat-label>
        <input matInput formControlName="abbrv" id="abbrv" type="text" />
      </mat-form-field>
    </div>
  </div>

  <div class="custom-modal-actions">
    <button class="custom-button-secondary" type="submit">GUARDAR</button>
  </div>
</form>
