@import "../scss/themes.scss";
.main-content {
  height: calc(100% - 56px);
}
.sub-content {
  height: calc(100% - 40px);
}

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 15px;
  gap: 16px;
  background-color: $back-color;
}

.custom-header {
  display: flex;
  flex-direction: column;
  hr {
    width: 100%;
  }
  .custom-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-header-title {
    font-size: 32px;
    font-weight: 500;
    color: $dark-color;
  }
  .custom-header-subtitle {
    font-size: 28px;
    font-weight: 500;
    color: $dark-color;
  }
  .custom-header-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.custom-sub-header {
  display: flex;
}

.custom-button {
  font-family: "Sarabun", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: none;
  padding: 10px 12px;
  font-weight: 500;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $light-color;
  }
}
.custom-button-primary {
  background-color: $primary-color;
  color: $light-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary-color-selected;
  }
  @extend .custom-button;
}

.custom-button-secondary {
  background-color: $secondary-color;
  color: $light-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $secondary-color-selected;
  }
  @extend .custom-button;
}

.custom-button-cancel {
  background-color: $cancel-color;
  color: $light-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $cancel-color-selected;
  }
  @extend .custom-button;
}

.custom-card {
  height: 100%;
  width: 100%;
  background-color: $light-color;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  display: flex;
  padding: 0 15px;
  gap: 8px;
  align-items: center;
  background-color: $primary-color;
  height: 56px;
  .custom-navbar-button {
    font-size: 16px;
    @extend .custom-button-primary;
  }

  .custom-navbar-button-active {
    background-color: $primary-color-selected;
  }

  .custom-navbar-menu-button {
    font-size: 20px;
    @extend .custom-button-primary;
  }
  .custom-navbar-icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    img {
      height: 35px;
    }
  }
  .custom-navbar-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    color: $light-color;
    font-size: 24px;
    font-weight: 500;
  }
  .custom-navbar-middle {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
  .custom-navbar-end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }
}
.custom-sub-navbar {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  height: 40px;
  gap: 8px;
  padding: 0 15px;
  .custom-sub-navbar-button {
    font-size: 16px;
    @extend .custom-button-secondary;
  }
  .custom-sub-navbar-button-active {
    background-color: $secondary-color-selected;
  }
}

.custom-paginator {
  width: 100%;
  background-color: $secondary-color;
  color: $light-color;
  .mat-select-value,
  .mat-select-arrow {
    color: $light-color;
  }
  .mat-form-field-underline {
    background-color: $light-color;
  }
}

.custom-table {
  flex: 1;
  overflow-y: auto;
  table {
    width: 100%;
    font-family: "Sarabun";
    td,
    th {
      border: none !important;
    }
    td {
      font-size: 14px;
    }
    tr:nth-child(even) {
      background-color: $odd-even-color;
    }
    th {
      background-color: $primary-color;
      color: $light-color;
      font-size: 18px;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
}

.custom-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .custom-modal-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: $primary-color;
  }
  .custom-modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .custom-modal-title {
      font-size: 32px;
      font-weight: 600;
      color: $primary-color;
    }
    .custom-modal-close {
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;
      user-select: none;
      transition: color 0.3s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .custom-modal-content {
    flex-direction: column;
    gap: 8px;
  }
  .custom-modal-actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }
}

.custom-options-bar {
  display: flex;
  gap: 16px;
}

.custom-icon-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
  border: none;
  background-color: $secondary-color;
  color: $light-color;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
    z-index: 10;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
}

.custom-form-field {
  width: 100%;
}
.custom-search-bar {
  background-color: $light-color;
  gap: 4px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  user-select: none;
  input {
    height: 100%;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  .search-icon {
    color: $dark-color;
  }
}

.custom-filter-menu {
  padding: 5px 15px;
}

.custom-filter-button {
  background-color: $light-color;
  align-items: center;
  display: flex;
  height: 100%;
  gap: 6px;
  padding: 0 12px;
  border-radius: 5px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  .filter-icon {
    color: $dark-color;
  }
}
.custom-filter-menu {
  .filter-menu-title {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 24px;
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 8px;
    }
    .restart-filter {
      cursor: pointer;
      user-select: none;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.custom-menu {
  .mat-menu-content {
    padding: 0 !important;
    background-color: $primary-color;
  }
  .mat-menu-item {
    color: $light-color;
    font-size: 18px !important;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $secondary-color;
    }
  }
  mat-icon {
    color: $light-color !important;
  }
}

.custom-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-family: "Sarabun";
  font-size: 18px;
  height: calc(55px * 10 + 2px);
  overflow: auto;
  .list-no-items {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
  }
  .list-item-check {
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    @extend .list-item;
    .list-item-checked {
      color: #28a745;
    }
  }
  .list-item {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    gap: 20px;
    align-items: center;

    .list-item-text {
      flex: 1;
      overflow: hidden;
    }
    .list-item-input {
      flex: 1;
      overflow: hidden;
      input {
        width: 100%;
        border: none;
      }
    }
    .list-item-close {
      display: flex;
      align-items: center;
      justify-content: center;
      .item-close {
        color: $secondary-color;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.2);
          color: $secondary-color-selected;
        }
      }
    }
  }
}
.custom-report-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  .custom-report-title {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    .custom-report-logo {
      img {
        width: 100px;
      }
    }
    .custom-report-titles {
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      white-space: pre-wrap;
    }
  }
  .custom-report-info {
    display: flex;
    border: 1px solid black;
    padding: 2px 8px;
    gap: 8px;
    border-bottom: none;
    .custom-report-info-item {
      align-items: center;
      .report-info-title {
        font-size: 18px;
        font-weight: 600;
      }
      flex: 1;
      display: flex;
      gap: 8px;
    }
  }
}
.custom-check {
  display: flex;
  gap: 2px;
  align-items: center;
  user-select: none;
  font-weight: 500;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .check-radio {
    color: #28a745;
    border-radius: 50%;
  }
}

.custom-row-active {
  background-color: #28a745;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.custom-row-inactive {
  background-color: #dc3545;
  @extend .custom-row-active;
}

.custom-report-table {
  width: 100%;
  border: 1px solid black;
  .custom-report-table-header {
    display: flex;
    .custom-report-table-header-column {
      flex: 1;
      padding: 2px 4px;
      border-left: 1px solid black;
      overflow: hidden;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 600;
      &:first-child {
        border-left: none;
      }
    }
  }

  .custom-report-table-rows {
    display: flex;
    .custom-report-table-row-cell {
      flex: 1;
      padding: 2px 4px;
      border: 1px solid black;
      border-bottom: none;
      border-right: none;
      overflow: hidden;
      font-size: 15px;
      text-overflow: ellipsis;
      &:first-child {
        border-left: none;
      }
    }
  }
}
