@import "../scss/themes.scss";
.main-content {
  height: calc(100% - 56px);
}
.sub-content {
  height: calc(100% - 40px);
}

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 15px;
  gap: 16px;
}

.custom-header {
  display: flex;
  flex-direction: column;
  hr {
    width: 100%;
  }
  .custom-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-header-title {
    font-size: 32px;
    font-weight: 500;
    color: $dark-color;
  }
  .custom-header-subtitle {
    font-size: 28px;
    font-weight: 500;
    color: $dark-color;
  }
  .custom-header-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.custom-sub-header {
  display: flex;
}

.custom-button {
  font-family: "Sarabun", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: none;
  padding: 10px 12px;
  font-weight: 500;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $light-color;
  }
}
.custom-button-primary {
  background-color: $primary-color;
  color: $light-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary-color-selected;
  }
  @extend .custom-button;
}

.custom-button-secondary {
  background-color: $secondary-color;
  color: $light-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $secondary-color-selected;
  }
  @extend .custom-button;
}

.custom-card {
  height: 100%;
  width: 100%;
  background-color: $light-color;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  display: flex;
  padding: 0 15px;
  gap: 8px;
  align-items: center;
  background-color: $primary-color;
  height: 56px;
  .custom-navbar-button {
    font-size: 16px;
    @extend .custom-button-primary;
  }

  .custom-navbar-button-active {
    background-color: $primary-color-selected;
  }

  .custom-navbar-menu-button {
    font-size: 20px;
    @extend .custom-button-primary;
  }
  .custom-navbar-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    color: $light-color;
    font-size: 24px;
    font-weight: 500;
  }
  .custom-navbar-middle {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
  .custom-navbar-end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }
}
.custom-sub-navbar {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  height: 40px;
  gap: 8px;
  padding: 0 15px;
  .custom-sub-navbar-button {
    font-size: 16px;
    @extend .custom-button-secondary;
  }
  .custom-sub-navbar-button-active {
    background-color: $secondary-color-selected;
  }
}

.custom-paginator {
  width: 100%;
  background-color: $secondary-color;
  color: $light-color;
  .mat-select-value,
  .mat-select-arrow {
    color: $light-color;
  }
  .mat-form-field-underline {
    background-color: $light-color;
  }
}

.custom-table {
  flex: 1;
  overflow-y: auto;
  table {
    width: 100%;
    font-family: "Sarabun";
    td,
    th {
      border: none !important;
    }
    td {
      font-size: 14px;
    }
    tr:nth-child(even) {
      background-color: $odd-even-color;
    }
    th {
      background-color: $primary-color;
      color: $light-color;
      font-size: 18px;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
}

.custom-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .custom-modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .custom-modal-title {
      font-size: 32px;
      font-weight: 600;
      color: $primary-color;
    }
    .custom-modal-close {
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;
      user-select: none;
      transition: color 0.3s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .custom-modal-content {
    flex-direction: column;
    gap: 8px;
  }
  .custom-modal-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.custom-options-bar {
  display: flex;
  gap: 16px;
}

.custom-icon-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
  border: none;
  background-color: $secondary-color;
  color: $light-color;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
    z-index: 10;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
}

.custom-form-field {
  width: 100%;
}
