$primary-color:#003B8E;
$primary-color-selected:#012c68;
$secondary-color:#AF8514;
$secondary-color-selected:#856610;
$dark-color:#162238;
$back-color:whitesmoke;
$light-color:white;
$font-color:#242729;
