.h-10 {
  height: 10% !important;
}
.h-20 {
  height: 20% !important;
}
.h-30 {
  height: 30% !important;
}
.h-40 {
  height: 40% !important;
}
.h-50 {
  height: 40% !important;
}
.h-60 {
  height: 60% !important;
}
.h-70 {
  height: 70% !important;
}
.h-80 {
  height: 80% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 90% !important;
}
.h-auto {
  height: auto !important;
}
.h-fit {
  height: fit-content !important;
}

.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 90% !important;
}
.w-auto {
  width: auto !important;
}
.w-fit {
  width: fit-content !important;
}

.flex-1 {
  flex: 1% 0 !important;
}
.flex-2 {
  flex: 2% 0 !important;
}
.flex-3 {
  flex: 3% 0 !important;
}
.flex-4 {
  flex: 4% 0 !important;
}
.flex-5 {
  flex: 5% 0 !important;
}
.flex-6 {
  flex: 6% 0 !important;
}

.flex-7 {
  flex: 7% 0 !important;
}

.flex-8 {
  flex: 8% 0 !important;
}

.flex-9 {
  flex: 9% 0 !important;
}
.flex-10 {
  flex: 10% 0 !important;
}
.flex-15 {
  flex: 15% 0 !important;
}
.flex-20 {
  flex: 20% 0 !important;
}
.flex-25 {
  flex: 25% 0 !important;
}
.flex-30 {
  flex: 30% 0 !important;
}
.flex-35 {
  flex: 35% 0 !important;
}
.flex-40 {
  flex: 40% 0 !important;
}
.flex-45 {
  flex: 45% 0 !important;
}
.flex-50 {
  flex: 50% 0 !important;
}
.flex-55 {
  flex: 55% 0 !important;
}
.flex-60 {
  flex: 60% 0 !important;
}
.flex-70 {
  flex: 70% 0 !important;
}
.flex-80 {
  flex: 80% 0 !important;
}
.flex-90 {
  flex: 90% 0 !important;
}

.title-1 {
  font-size: 25px !important;
}
.title-2 {
  font-size: 20px !important;
}
.title-3 {
  font-size: 18px !important;
}
