<div class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <h1>Nueva Institucion</h1>
      </div>
      <div class="col-12 form-group">
        <label for="name">Nombre *</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control"
        />
        <small
          *ngIf="form.get('name').invalid && form.get('name').touched"
          class="form-text text-danger"
          >Debe tener al menos 2 letras</small
        >
      </div>
      <div class="col-12 form-group">
        <label for="abbrv">Abreviatura</label>
        <input
          formControlName="abbrv"
          id="abbrv"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="openRequest('CREATE')"
        >
          <i class="fas fa-save"></i>
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-secondary btn-block"
          (click)="onNoClick()"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </form>
</div>
