<div class="custom-modal-container">
  <div class="custom-modal-header">
    <span class="custom-modal-title">{{ data.title }}</span>
    <mat-icon (click)="onNoClick(false)" class="custom-modal-close">close</mat-icon>
  </div>
  <div class="custom-modal-content">
    <h2>{{ data.message }}</h2>
  </div>
  <div class="custom-modal-actions">
    <button
      class="custom-button-cancel"
      type="button"
      (click)="onNoClick(false)"
    >
      CANCELAR
    </button>
    <button
      class="custom-button-secondary"
      type="button"
      (click)="onNoClick(true)"
    >
      ACEPTAR
    </button>
  </div>
</div>
