<div class="container">
  <form [formGroup]="form" (ngSubmit)="openRequest()">
    <div class="row">
      <div class="col-12 d-flex">
        <h1>Nuevo Registro Biblioteca</h1>
        <button
        class="ml-auto"
         mat-icon-button
          type="button"
          (click)="onNoClick()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- UR -->
      <div class="col-12 mt-2">
        <mat-form-field class="w-100">
          <mat-label>UR</mat-label>
          <input
            type="text"
            matInput
            formControlName="ur"
            [errorStateMatcher]="matcher"
            placeholder="UR"
          />
          <mat-error *ngIf="form.get('ur').invalid && form.get('ur').touched">
            Debe tener al menos 2 letras
          </mat-error>
        </mat-form-field>
      </div>
      <!-- AREA -->
      <div class="col-12 mt-3">
        <mat-form-field class="w-100">
          <mat-label>Area</mat-label>
          <input
            type="text"
            matInput
            formControlName="area"
            [errorStateMatcher]="matcher"
            placeholder="Area"
          />
          <mat-error
            *ngIf="form.get('area').invalid && form.get('area').touched"
          >
            Debe tener al menos 2 letras
          </mat-error>
        </mat-form-field>
      </div>
      <!-- TURNO -->
      <div class="col-12 mt-3 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Turno</mat-label>
          <mat-select formControlName="turno">
            <mat-option
              *ngFor="let turno of turnos | keyvalue"
              [value]="turno.key"
            >
              {{ turno.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <button mat-flat-button color="primary" type="submit" class="btn-block">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
