@import "/src/assets/scss/themes.scss";
.main-login-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $back-color;
}
.header {
  background-color: $primary-color;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title{
  font-size:50px;
  color: $light-color;
}

.login {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:180px;
  width: 400px;
}


.login-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  .login-container-title{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    color: $dark-color;
  }
}

