<div class="main-login-container">
  <div class="header">
    <span class="main-title">Biblioteca</span>
  </div>

  <div class="container shadow card p-5 login">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="login-container">
        <div class="login-container-title">
          <span>Ingresar</span>
        </div>
        <!-- USUARIO -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label for="">Usuario</mat-label>
          <input
            matInput
            placeholder="Usuario"
            type="text"
            formControlName="username"
          />
          <mat-error *ngIf="isUserInvalid"> Ingrese usuario </mat-error>
        </mat-form-field>

        <!-- CONTRASEÑA -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label for="">Contraseña</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            type="password"
            formControlName="password"
          />
          <mat-error *ngIf="isPasswordInvalid"> Ingrese contraseña </mat-error>
        </mat-form-field>
        <button matRipple class="custom-button-secondary w-100" type="submit">
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</div>
