<div class="main-page-container animate__animated animate__fadeIn">
  <div class="custom-header">
    <div class="custom-header-content">
      <span class="custom-header-title"> Registro Cubículos </span>
      <div class="custom-header-actions">
        <button class="custom-button-secondary" (click)="openDialog()">
          REGISTRARSE
        </button>
      </div>
    </div>
  </div>

  <div class="custom-card animate__animated animate__fadeIn">
    <div
      *ngIf="!loaded"
      class="h-100 w-100 d-flex align-items-center justify-content-center"
    >
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="loaded">
      <div
        *ngIf="!usuarios || (usuarios && usuarios.length <= 0)"
        class="h-100 w-100 d-flex align-items-center justify-content-center"
      >
        <h1>No hay usuarios registrados</h1>
      </div>
      <ng-container *ngIf="usuarios && usuarios.length > 0">
        <app-user-registry-view
          #table
          [users]="usuarios"
          (getSelected)="updateUser($event)"
          [type]="'cubiculos'"
        ></app-user-registry-view>

        <!-- <div class="pag position-relative row w-100"></div> -->
        <!-- <mat-paginator
        class="pag-bottom w-100"
        [length]="totalPages"
        [pageSize]="pages"
        [pageSizeOptions]="PAGES"
        (page)="pagesChange($event)"
      ></mat-paginator> -->
      </ng-container>
    </ng-container>
  </div>
</div>
