<div class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <h1>Nuevo Registro Cubiculo</h1>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="name">Biblioteca *</label>
          <input
            type="text"
            class="form-control"
            formControlName="biblioteca"
            id="biblioteca"
            aria-describedby="bibliotecaError"
          />
          <small
            *ngIf="form.get('biblioteca').invalid && form.get('biblioteca').touched"
            id="bibliotecaError"
            class="form-text text-danger"
            >Debe tener almenos 2 letras</small
          >
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="name">UR *</label>
          <input
            type="text"
            class="form-control"
            formControlName="ur"
            id="ur"
            aria-describedby="urError"
          />
          <small
            *ngIf="form.get('ur').invalid && form.get('ur').touched"
            id="urError"
            class="form-text text-danger"
            >Debe tener almenos 2 letras</small
          >
        </div>
      </div>

      <div class="col-6">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="openRequest()"
        >
          <i class="fas fa-save fa-lg"></i>
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-secondary btn-block"
          (click)="onNoClick()"
        >
          <i class="fas fa-times fa-lg"></i>
        </button>
      </div>
    </div>
  </form>
</div>
