<div class="custom-navbar">
  <div class="custom-navbar-title">
    <div class="custom-navbar-icon">
      <img src="assets/icons/uas_logo_color.svg" alt="UAS Logo" />
    </div>

    <span>Biblioteca</span>
  </div>
  <div class="custom-navbar-middle">
    <ng-container *ngFor="let route of routes">
      <a
        *ngIf="verifyRol(route.rol)"
        class="custom-button-primary"
        routerLinkActive="custom-navbar-button-active"
        [routerLink]="route.path"
        >{{ route.title }}</a
      >
    </ng-container>
  </div>
  <div class="custom-navbar-end">
    <button
      *ngIf="!moreRoutes()"
      class="custom-button-primary"
      (click)="logOut()"
    >
      <mat-icon>exit_to_app</mat-icon> Salir
    </button>
    <button
      *ngIf="moreRoutes()"
      class="custom-button-primary"
      (click)="goToAdmin()"
    >
      <mat-icon>home</mat-icon> Regresar
    </button>
  </div>
</div>
