<form
  [formGroup]="form"
  class="custom-modal-container"
  (ngSubmit)="openRequest()"
>
  <div class="custom-modal-header">
    <span class="custom-modal-title">
      {{ (data ? "EDITAR" : "NUEVO") + " NUEVO CUBíCULO" | uppercase }}
    </span>
    <mat-icon class="custom-modal-close" (click)="onNoClick()">close</mat-icon>
  </div>
  <div class="custom-modal-content row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="name">Username</mat-label>
        <input
          matInput
          placeholder="Username"
          type="text"
          formControlName="username"
          id="username"
          aria-describedby="nameError"
        />
        <mat-error
          *ngIf="form.get('username').invalid && form.get('username').touched"
          >Debe tener almenos 5 letras</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="name">Contraseña</mat-label>
        <input
          matInput
          placeholder="Contraseña"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          id="password"
          aria-describedby="nameError"
        />
        <mat-icon
          (click)="showPassword = !showPassword"
          class="visibility-input"
          matSuffix
          >{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-error
          *ngIf="form.get('password').invalid && form.get('password').touched"
          >Debe tener almenos 5 letras</mat-error
        >
      </mat-form-field>
    </div>
    <div *ngIf="!permisosUsuario.includes(PERMISOS.ADMIN)" class="col-12">
      <span class="custom-modal-subtitle">PERMISOS</span>
    </div>
    <div *ngIf="!permisosUsuario.includes(PERMISOS.ADMIN)" class="col-12">
      <div class="custom-list">
        <ng-container *ngIf="!loading">
          <ng-container *ngIf="permisos && permisos.length > 0">
            <div
              *ngFor="let permiso of permisos; let index = index"
              class="list-item-check"
              matRipple
              (click)="updatePermiso(permiso)"
            >
              {{ permisosDict[permiso] | titlecase }}
              <mat-icon *ngIf="!checkPermiso(permiso)"
                >radio_button_unchecked</mat-icon
              >
              <mat-icon class="list-item-checked" *ngIf="checkPermiso(permiso)"
                >check_circle</mat-icon
              >
            </div>
          </ng-container>
          <ng-container *ngIf="!(permisos && permisos.length > 0)">
            <div class="list-no-items">
              <span>No se encontraron permisos</span>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="loading">
          <div class="list-no-items">
            <mat-spinner></mat-spinner>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="custom-modal-actions">
    <button class="custom-button-secondary" type="submit">GUARDAR</button>
  </div>
</form>
