<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <a class="navbar-brand">Biblioteca</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="biblioteca">Biblioteca</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cubiculos">Cubiculos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="recursos-electronicos">Recursos Electronicos</a>
      </li>
    </ul>
  </div>
</nav>
