<form [formGroup]="reguser">
  <!-- *Name -->
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
    <small *ngIf="nameInvalid" class="form-text text-danger"
      >Debe tener al menos 2 letras</small
    >
  </div>
  <!-- *Genders -->
  <div class="form-group">
    <label for="">Sexo</label><br />
    <!-- **male -->
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="male"
        value="M"
        formControlName="gender"
      />
      <label class="form-check-label" for="male">Masculino</label>
    </div>
    <!-- **female -->
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="female"
        value="F"
        formControlName="gender"
      />
      <label class="form-check-label" for="female">Femenino</label>
    </div>
  </div>
  <!-- *Institution -->
  <div class="form-group">
    <label for="institution">Institución</label>
    <input
      type="text"
      class="form-control"
      id="institution"
      formControlName="institution"
    />
    <small *ngIf="institutionInvalid" class="form-text text-danger"
      >Debe tener al menos 2 letras</small
    >
  </div>
  <!-- *User type -->
  <div class="form-group">
    <label for="">Tipo de usuario</label><br />
    <!-- **internal -->
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        id="internal"
        name="userType"
        value="internal"
        formControlName="userType"
      />
      <label class="form-check-label" for="internal">Interno</label>
    </div>
    <!-- **external -->
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        id="external"
        name="userType"
        value="external"
        formControlName="userType"
      />
      <label class="form-check-label" for="external">Externo</label>
    </div>
  </div>
  <!-- ** -->
  <div [ngSwitch]="userType">
    <div *ngSwitchCase="'internal'">
      <select class="custom-select">
        <option selected>usuario interno</option>
      </select>
    </div>
    <div *ngSwitchCase="'external'">
      <select class="custom-select">
        <option selected>usuario externo</option>
      </select>
    </div>
  </div>
  <!-- *Register -->
  <button
    type="button"
    (click)="submit()"
    class="btn btn-primary btn-block mt-5"
  >
    Registrar
  </button>
</form>
