<div class="sub-content animate__animated animate__fadeIn">
  <div class="custom-sub-navbar">
    <button
      class="custom-sub-navbar-button"
      routerLink="registros"
      routerLinkActive="custom-sub-navbar-button-active"
    >
      Registros
    </button>
    <button
      class="custom-sub-navbar-button"
      routerLink="cubiculos"
      routerLinkActive="custom-sub-navbar-button-active"
    >
      Cubículos
    </button>
  </div>
  <router-outlet id="cubiculos"></router-outlet>
</div>
