<table mat-table [dataSource]="users" class="w-100">
  <ng-container matColumnDef="pos">
    <th mat-header-cell *matHeaderCellDef>Num.</th>
    <td mat-cell *matCellDef="let user; let i = index">{{ i + 1 }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let user">{{ user.nombre }}</td>
  </ng-container>
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef>Terminado</th>
    <td mat-cell *matCellDef="let user">
      <input
        #check
        type="checkbox"
        (click)="
          user.terminadoEn ? false : user.terminadoEn=selected(user);
        "
        [checked]="user.terminadoEn"
      />
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  #pag
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
