<!--  -->
<form
  [formGroup]="form"
  class="custom-modal-container"
  (ngSubmit)="performRequest()"
>
  <div class="custom-modal-header">
    <span class="custom-modal-title"> REGISTRARSE EN BIBLIOTECA </span>
    <mat-icon (click)="onNoClick()" class="custom-modal-close">close</mat-icon>
  </div>
  <div class="custom-modal-conten row">
    <!-- NAME -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="">Nombre</mat-label>
        <input
          matInput
          placeholder="Nombre"
          type="text"
          formControlName="nombre"
        />
        <mat-error *ngIf="isNameInvalid"
          >Ingrese un nombre valido, solo letras y al menos 2 letras</mat-error
        >
      </mat-form-field>
    </div>

    <!-- GENRE -->
    <div class="col-6">
      <section>
        <label>Genero</label>
        <br />
        <mat-radio-group formControlName="sexo">
          <mat-radio-button color="primary" class="mr-4" value="M"
            >Masculino</mat-radio-button
          >
          <mat-radio-button color="primary" value="F"
            >Femenino</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </div>

    <!-- USER TYPE -->
    <div class="col-6">
      <section>
        <label>Tipo de Usuario</label>
        <br />
        <mat-radio-group formControlName="tipo">
          <mat-radio-button color="primary" class="mr-4" value="I"
            >Interno</mat-radio-button
          >
          <mat-radio-button color="primary" value="E">Externo</mat-radio-button>
        </mat-radio-group>
      </section>
    </div>

    <!-- INSTITUTION -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="">Institución</mat-label>
        <input
          type="text"
          matInput
          formControlName="institucion"
          [matAutocomplete]="auto"
          placeholder="Seleccione la institución a la que pertenece"
        />
        <mat-error *ngIf="isInstitucionInvalid">
          Seleccione una institución
        </mat-error>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let institucion of filteredInstituciones | async"
          [value]="institucion"
        >
          {{ institucion.nombre }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="custom-modal-actions">
    <button class="custom-button-secondary" type="submit" >REGISTRARSE</button>
  </div>
</form>
