<div class="dash-cards-container">
  <div class="row cards-row">
    <div class="col-4">
      <div class="dash-card">
        <h2><b> Biblioteca</b></h2>
        <b>{{ usuariosBiblioteca }}</b>
      </div>
    </div>
    <div class="col-4">
      <div class="dash-card">
        <h2><b> Cubiculos</b></h2>
        <b>{{ usuariosCubiculos }}</b>
      </div>
    </div>
    <div class="col-4">
      <div class="dash-card">
        <h2><b> Recursos Electronicos</b></h2>
        <b>{{ usuariosEquipos }}</b>
      </div>
    </div>
  </div>
</div>
