<form
  [formGroup]="form"
  class="custom-modal-container"
  (ngSubmit)="openRequest()"
>
  <div class="custom-modal-header">
    <span class="custom-modal-title">{{
      (data ? "EDITAR" : "NUEVO") + " REGISTRO CUBICULO"
    }}</span>
    <mat-icon class="custom-modal-close" (click)="onNoClick()">close</mat-icon>
  </div>
  <div class="custom-modal-content row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="name">Biblioteca</mat-label>
        <input
          type="text"
          matInput
          placeholder="Biblioteca"
          formControlName="biblioteca"
          id="biblioteca"
          aria-describedby="bibliotecaError"
        />
        <mat-error
          *ngIf="
            form.get('biblioteca').invalid && form.get('biblioteca').touched
          "
          id="bibliotecaError"
          >Debe tener almenos 2 letras</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="name">UR</mat-label>
        <input
          matInput
          type="text"
          placeholder="UR"
          formControlName="ur"
          id="ur"
          aria-describedby="urError"
        />
        <mat-error
          *ngIf="form.get('ur').invalid && form.get('ur').touched"
          id="urError"
          >Debe tener almenos 2 letras</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="custom-modal-actions">
    <button  class="custom-button-secondary" type="submit">
      GUARDAR
    </button>
  </div>
</form>
