<form
  class="custom-modal-container"
  [formGroup]="form"
  (ngSubmit)="openRequest()"
>
  <div class="custom-modal-header">
    <span class="custom-modal-title">
      {{
        (data ? "EDITAR" : "NUEVO") + " REGISTRO RECURSOS ELECTRóNICOS"
          | uppercase
      }}
    </span>
    <mat-icon class="custom-modal-close" (click)="onNoClick()">close</mat-icon>
  </div>
  <div class="custom-modal-content row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Area</mat-label>
        <input
          matInput
          formControlName="area"
          type="text"
          aria-describedby="areaError"
        />
        <mat-error
          *ngIf="form.get('area').invalid && form.get('area').touched"
          id="areaError"
          >Debe tener al menos 2 letras</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label for="turno">Turno</mat-label>
        <mat-select id="turno" formControlName="turno">
          <mat-option
            *ngFor="let turno of turnos | keyvalue"
            [value]="turno.key"
          >
            {{ turno.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="custom-modal-actions">
    <div (click)="changeStatus()" type="button" class="custom-check">
      <mat-icon *ngIf="status === 'I'">radio_button_unchecked</mat-icon>
      <mat-icon *ngIf="status === 'A'" class="check-radio"
        >check_circle</mat-icon
      >
      ACTIVO
    </div>
    <button class="custom-button-secondary" type="submit">GUARDAR</button>
  </div>
</form>
