<div class="container">
  <!--  -->
  <form [formGroup]="form">
    <div class="row">
      <!-- NAME -->
      <div class="col-12">
        <h2>Registro Biblioteca</h2>
      </div>
      <div class="form-group col-12">
        <label for="">Nombre *</label>
        <input type="text" class="form-control" formControlName="nombre" />
        <small *ngIf="isNameInvalid" class="form-text text-danger"
          >Ingrese un nombre valido, solo letras y al menos 2 letras</small
        >
        <small *ngIf="!isNameInvalid" class="form-text"> &nbsp;</small>
      </div>

      <!-- GENRE -->
      <div class="form-group col-6">
        <div><label for="">Genero</label></div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genre"
            id="male_radio"
            formControlName="sexo"
            value="M"
            checked
          />
          <label class="form-check-label" for="male_radio"> Masculino </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genre"
            id="female_radio"
            formControlName="sexo"
            value="F"
          />
          <label class="form-check-label" for="female_radio"> Femenino </label>
        </div>
      </div>

      <!-- USER TYPE -->
      <div class="form-group col-6">
        <div><label for="">Tipo de usuario</label></div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="userType"
            id="intern_radio"
            formControlName="tipo"
            value="I"
            checked
          />
          <label class="form-check-label" for="intern_radio"> Interno </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="userType"
            id="extern_radio"
            formControlName="tipo"
            value="E"
          />
          <label class="form-check-label" for="extern_radio"> Externo </label>
        </div>
      </div>

      <!-- INSTITUTION -->
      <div class="form-group col-12">
        <label for="">Institución *</label>
        <input
          type="text"
          matInput
          formControlName="institucion"
          class="form-control"
          [matAutocomplete]="auto"
          placeholder="Seleccione la institución a la que pertenece"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let institucion of filteredInstituciones | async"
            [value]="institucion"
          >
            {{ institucion.nombre }}
          </mat-option>
        </mat-autocomplete>
        <small *ngIf="isInstitucionInvalid" class="form-text text-danger"
          >Seleccione una institución</small
        >
        <small *ngIf="!isInstitucionInvalid" class="form-text"> &nbsp;</small>
      </div>
      <!-- BUTTONS -->
      <div class="col-6">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="performRequest()"
        >
          <i class="fas fa-check mr-3"></i>Registrar
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-secondary btn-block"
          (click)="onNoClick()"
        >
          <i class="fas fa-times mr-3"></i>Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
